# Global proxy settings
proxy_http_version 1.1;

# Upstream definitions for backend services
# LAPIS instances per virus
upstream lapis-covid {
    server 127.0.0.1:{{ nginx_lapis_covid_port }};
}

upstream lapis-rsva {
    server 127.0.0.1:{{ nginx_lapis_rsva_port }};
}

upstream lapis-rsvb {
    server 127.0.0.1:{{ nginx_lapis_rsvb_port }};
}

# SILO instances per virus
upstream silo-covid {
    server 127.0.0.1:{{ nginx_silo_covid_port }};
}

upstream silo-rsva {
    server 127.0.0.1:{{ nginx_silo_rsva_port }};
}

upstream silo-rsvb {
    server 127.0.0.1:{{ nginx_silo_rsvb_port }};
}

# Default HTTP to HTTPS redirect
server {
    listen 80 default_server;
    listen [::]:80 default_server;

    location / {
        return 301 https://$host$request_uri;
    }
}
