services:
  lapisOpen:
    container_name: {{ srsilo_current_instance_name }}-lapis
    image: ghcr.io/genspectrum/lapis:0.6.4
    restart: unless-stopped
    ports:
      - {{ srsilo_current_lapis_port }}:8080
    environment:
      # Cache size tuned to avoid GC pressure, more predictable maximum cache size (see #147)
      - SPRING_CACHE_CAFFEINE_SPEC=maximumSize=500000
    command: --silo.url=http://{{ srsilo_current_instance_name }}-silo:8081
    volumes:
      - type: bind
        source: {{ srsilo_virus_config_path }}/database_config.yaml
        target: /workspace/database_config.yaml
        read_only: true
      - type: bind
        source: {{ srsilo_virus_config_path }}/reference_genomes.json
        target: /workspace/reference_genomes.json
        read_only: true
    stop_grace_period: 0s

  silo:
    container_name: {{ srsilo_current_instance_name }}-silo
    image: ghcr.io/genspectrum/lapis-silo:v0.9.5
    mem_limit: {{ srsilo_docker_memory_limit }}
    restart: unless-stopped
    ports:
      - {{ srsilo_current_silo_port }}:8081
    command: api --api-threads-for-http-connections 96 --api-max-queued-http-connections 1024
    volumes:
      - type: bind
        source: {{ srsilo_virus_output }}
        target: /data
        read_only: true
      - type: bind
        source: {{ srsilo_virus_path }}/logs
        target: /app/logs
        read_only: false
    stop_grace_period: 0s