services:
  siloPreprocessing:
    container_name: {{ srsilo_current_instance_name }}-preprocessing
    image: ghcr.io/genspectrum/lapis-silo:0.9.5
    command: preprocessing
    mem_limit: {{ srsilo_docker_memory_limit }}
    volumes:
      - type: bind
        source: {{ srsilo_virus_output }}
        target: /preprocessing/output
        read_only: false
      - type: bind
        source: {{ srsilo_virus_config_path }}/preprocessing_config.yaml
        target: /app/preprocessing_config.yaml
        read_only: true
      - type: bind
        source: {{ srsilo_virus_config_path }}/database_config.yaml
        target: /preprocessing/input/database_config.yaml
        read_only: true
      - type: bind
        source: {{ srsilo_virus_config_path }}/reference_genomes.json
        target: /preprocessing/input/reference_genomes.json
        read_only: true
      - type: bind
        source: {{ srsilo_virus_sorted_file }}
        target: /preprocessing/input/sorted.ndjson.zst
        read_only: true
    stop_grace_period: 5s
