name: 'W-ASAP'
host: 'db.wasap.genspectrum.org'

logo:
  url: 'https://db.wasap.genspectrum.org/static/images/wasap-logo.png'
  width: 200
  height: 180

bannerMessage: ''

loculus_environment: 'local' # Do not change this: this setup uses a "local" environment as the public traffic is proxied through nginx.

runDevelopmentMainDatabase: false
runDevelopmentKeycloakDatabase: false
runDevelopmentS3: false

genspectrum_covid_url: 'https://genspectrum.org/swiss-wastewater/covid'

public:
  backendUrl: 'https://api.db.wasap.genspectrum.org/backend'
  lapisUrlTemplate: 'https://api.db.wasap.genspectrum.org/%organism%'
  keycloakUrl: 'https://auth.db.wasap.genspectrum.org'

auth:
  verifyEmail: false
  resetPasswordAllowed: false
  registrationAllowed: true

seqSets:
  enabled: false

gitHubMainUrl: 'https://github.com/cbg-ethz/WisePulse'

s3:
  enabled: true
  bucket:
    region: eu-central
    endpoint: https://fsn1.your-objectstorage.com/
    bucket: wasap

organisms:
   covid:
    schema:
      organismName: 'SARS-CoV-2'
      image: 'https://db.wasap.genspectrum.org/static/images/covid-virus.png'
      metadata:
        - name: date
          type: date
          header: Sample details
          displayName: Submission Date
        - name: sampleId
          type: string
          header: Sample details
          displayName: Sample ID
          initiallyVisible: true
        - name: batchId
          type: string
          definition: "Sequencing batch"
          header: Sample details
          displayName: Batch ID
        - name: locationCode
          type: string
          header: Sample details
          displayName: Location Code
        - name: locationName
          type: string
          generateIndex: true
          autocomplete: true
          header: Sample details
          displayName: Location
          initiallyVisible: true
        - name: samplingDate
          type: date
          header: Sample details
          displayName: Sampling Date
          initiallyVisible: true
        - name: sr2siloVersion
          type: string
          header: srSILO info
          definition: "Version of sr2silo used for preprocessing"
          displayName: sr2silo Version
          hideOnSequenceDetailsPage: true
          hideInSearchResultsTable: true
        - name: countSiloReads
          type: string
          header: srSILO info
          hideOnSequenceDetailsPage: true
          hideInSearchResultsTable: true
          definition: "Number of reads subsampled srSILO alignments"
          displayName: srSILO Read Count 
      website:
        tableColumns:
          - date
          - locationName
          - samplingDate
        defaultOrder: ascending
        defaultOrderBy: date
      submissionDataTypes:
        consensusSequences: false
        files:
          enabled: true
          categories:
            - name: nucleotideAlignment
            - name: siloReads
      files:
        - name: nucleotideAlignment
        - name: siloReads
    preprocessing:
      - version: 1
        image: ghcr.io/loculus-project/preprocessing-dummy
        args:
          - "--watch"
          - "--disableConsensusSequences"
    referenceGenomes:
      singleReference:
        nucleotideSequences: []
        genes: []

dataUseTerms:
  enabled: false
disableIngest: true
disableEnaSubmission: true
accessionPrefix: "WISE_"
